.carrousel {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.slider {
  display: flex;
}

.slider-container {
  display: flex;
}

.slider-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider h1 {
  text-align: center;
  width: 350px;
  margin-top: 2rem;
  font-size: 1.4rem;
  color: var(--beige-color);
}

.slider-img {
  width: 350px;
  height: fit-content;
  margin-bottom: auto;
  border-radius: 10px;
}

.slider-img-background {
  display: none;
}

.right-arrow  {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: var(--beige-color);
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: var(--beige-color);
  cursor: pointer;
  user-select: none;
}

/* Medium devices */

@media screen and (min-width: 426px) {
  .slider-front {
    z-index: 1;
  }
  .right-arrow, .left-arrow {
    z-index: 3;
  }
  .carrousel {
    height: 100vh;
    width: 100vw;
  }
  .slider h1 {
    width: 450px;
    font-size: 2rem;
  }
  .slider-img {
    width: 450px;
  }
  .slider-img-background {
    display: initial;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.2;
  }
}

@media screen and (min-width: 769px) {
  .slider h1 {
    font-size: 2.2rem;
  }
}

/* Large devices */

@media screen and (min-width: 1025px) {
  .slider h1 {
    width: 500px;
    font-size: 2.5rem;
  }
  .right-arrow, .left-arrow {
    z-index: 5;
  }
}

@media screen and (min-width: 1441px) {
  .slider-img {
    width: initial;
  }
}
