/* light & dark modes */

.light-mode {
  --footer-color: #164059;
  --footer-bg-color: #f2d3ac;
}

.dark-mode {
  --footer-color: #f2d3ac;
  --footer-bg-color: #164059;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3em;
  width: 100vw;
  color: var(--footer-color);
  background-color: var(--footer-bg-color);
  bottom: 0;
}

.sources,
.equipe,
.contact {
  border: none;
  color: var(--footer-color);
  background-color: var(--footer-bg-color);
  font-size: 1.2rem;
  cursor: pointer;
}

.footer-link {
  width: 33%;
  text-align: center;
  list-style: none;
}

.footer-link a {
  text-decoration: none;
  color: var(--footer-color);
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5em;
  padding: 0.625em;
}

.footer-sources-links {
  display: flex;
  position: absolute;
  justify-content: center;
  opacity: 0;
  padding: 0;
  top: 132vh;
  left: 50%;
  line-height: 2.5rem;
  color: var(--footer-color);
  background-color: var(--footer-bg-color);
  transform: translate(-50%, -50%);
  transition: all 0.8s ease-in-out;
}

.show-links {
  opacity: 1;
  transition: all 0.8s ease-in-out;
}

.sources-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 2rem;
}

/* modal config */

.ReactModal__Overlay,
.ReactModal__Overlay--after-open {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 1.4rem;
  z-index: 10;
}

.form-box {
  display: flex;
  flex-direction: column;
  height: 85vh;
  color: var(--beige-color);
  border: 1px solid var(--lightblue-color);
  box-shadow: 2px 2px 7px 1px var(--lightblue-color);
  border-radius: 10px;
  background-color: #164059;
}

.form-header {
  border: 1px solid var(--lightblue-color);
  box-shadow: 2px 2px 7px 1px var(--lightblue-color);
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.form-box form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-box h2 {
  text-decoration: underline;
}

.form-box label {
  padding: 0.5rem;
}

.form-box input,
.form-box textarea {
  width: 59vw;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
}

.submitBtn {
  padding: 0.3rem;
  margin-top: 0.5rem;
  border-radius: 10px;
  color: var(--lightbeige-color);
  background-color: var(--blue-color);
  cursor: pointer;
}

.closeBtn {
  position: absolute;
  font-size: 1.1rem;
  top: 1.5rem;
  right: 1.5rem;
  font-weight: bolder;
  border-radius: 10px;
  color: var(--red-color);
  cursor: pointer;
}

/* Medium devices */

@media screen and (min-width: 769px) {
  .footer {
    height: 3.8rem;
  }

  .sources,
  .equipe,
  .contact {
    font-size: 1.4rem;
  }
}

/* Large devices */

@media screen and (min-width: 1441px) {
  .form-box input,
  .form-box textarea {
    width: 45vw;
    margin: 1.5rem;
    padding: 0.5rem;
    border-radius: 10px;
  }

  .submitBtn {
    font-size: 1.3rem;
    margin-top: 1.5rem;
  }
}
