/* light & dark modes */

.light-mode {
  --footer-color: #164059;
  --footer-bg-color: #f2d3ac;
}

.dark-mode {
  --footer-color: #f2d3ac;
  --footer-bg-color: #164059;
}

/* footer */

.footer {
  color: var(--footer-color);
  background-color: var(--footer-bg-color);
}

.sources, .equipe, .contact {
  border: none;
  color: var(--footer-color);
  background-color: var(--footer-bg-color);
}

.footer-link {
  width: 33%;
  text-align: center;
  list-style: none;
}

.footer-link a {
  text-decoration: none;
  color: var(--footer-color);
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5em;
  padding: 0.625em;
}

.footer-sources-links {
  display: flex;
  position: absolute;
  justify-content: center;
  opacity: 0;
  padding: 0;
  top: 132vh;
  left: 50%;
  line-height: 2.5rem;
  color: var(--footer-color);
  background-color: var(--footer-bg-color);
  transform: translate(-50%, -50%);
  transition: all 0.8s ease-in-out;
}

.show-links {
  opacity: 1;
  transition: all 0.8s ease-in-out;
}

.sources-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 2rem;
}
