body {
  background-color: var(--beige-color);
}

.questionnaire {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.colonne1 {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 2rem;
}

.colonne2 {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 2rem;
}

.apiResult {
  display: flex;
  overflow-x: hidden;
}
.test-title-api {
  font-size: 0.8rem;
}
.test-img-api {
  width: 100px;
}
