body {
  background-color: var(--beige-color);
}
.questionnaire {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.colonne1 {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 2rem;
}
.colonne1 img {
  width: 100px;
  padding: 2rem;
}
.colonne2 {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 2rem;
}
.colonne2 img {
  width: 100px;
  padding: 2rem;
}
.colonne3 {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 2rem;
}
.colonne3 img {
  width: 100px;
  padding: 2rem;
}
.clic-to-show {
  display: flex;
  text-align: center;
  justify-content: center;
}
.show-result,
.show-retry {
  display: flex;
  text-align: center;
  border-radius: 10px;
}
.hide-result,
.hide-retry {
  display: none;
  text-align: center;
}
.api-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.hide-api {
  display: none;
}
.movie-dispatch {
  width: 120px;
}
.test-title-api {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  font-size: 0.8rem;
}
.test-img-api {
  width: 100px;
}
.isChecked {
  border: 2px solid white;
  border-radius: 50%;
}
.notChecked {
  border: none;
}
