body {
  background-color: var(--beige-color);
}

.home {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-movies-popularity {
  width: fit-content;
  max-width: 70vw;
  text-align: center;
  padding-top: 1rem;
  border-radius: 20px;
  color: var(--blue-color);
  background-color: var(--lightbeige-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.m_overview {
  padding: 0.5rem;
}
