body {
  background-color: var(--beige-color);
}
.Home {
  height: 850px;
  background-image: url('../assets/img/cinema.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.questionnaire {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8.5em;
  margin-bottom: 2rem;
}
.colonne1 {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 2rem;
  padding: 2rem;
}
.colonne1 img {
  width: 100px;
  padding: 1rem;
}
.colonne2 {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 2rem;
  padding: 2rem;
}
.colonne2 img {
  width: 100px;
  padding: 1rem;
}
.colonne3 {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 2rem;
}
.colonne3 img {
  width: 100px;
  padding: 2rem;
}
.clic-to-show {
  display: flex;
  text-align: center;
  justify-content: center;
}
.show-result,
.show-retry {
  display: flex;
  text-align: center;
  border-radius: 10px;
}
.hide-result,
.hide-retry {
  display: none;
  text-align: center;
}
.api-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 950px;
  height: 400px;
  margin-left: 28%;
  overflow-x: auto;
}
.hide-api {
  display: none;
}
.movie-dispatch {
  width: 120px;
}
.test-title-api {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  font-size: 0.8rem;
}
.test-img-api {
  width: 100px;
}
.isChecked {
  border: 2px solid white;
  border-radius: 50%;
}
.notChecked {
  border: none;
}
