.main-container {
  display: flex;
  padding: 1rem;
  color: var(--beige-color);
  background-color: rgba(0, 0, 0, 0.9);
}
.main-container a {
  text-decoration: none;
  color: var(--lightblue-color);
  cursor: pointer;
}
.main-container a:hover {
  color: var(--lightblue-color);
  background-color: transparent;
  text-shadow: 0 0 5px var(--lightblue-color), 0 0 10px var(--lightblue-color), 0 0 15px var(--lightblue-color)
}
.movie-poster {
  width: 150px;
  height: fit-content;
  border-radius: 10px;
}
.right-container {
  width: 55vw;
  padding-left: 1rem;
}
.main-title h1 {
  margin: 0;
  font-size: 1.6rem;
}
.title h2 {
  margin: 0;
  padding: 0;
}
.right-top {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}
.right-top h3 {
  padding-right: 0.5rem;
  color: var(--lightblue-color);
}
.favorite {
  width: fit-content;
  cursor: pointer;
}
.isFavorite-hide, .notFavorite-hide {
  display: none;
}
.isFavorite {
  width: 40px;
  height: 40px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/35/Emoji_u2665.svg");
  background-size: 100%;
  align-self: flex-start;
  margin-bottom: 4rem;
}
.notFavorite {
  width: 40px;
  height: 40px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/52/Heart_icon_red_hollow.svg");
  background-size: 100%;
  align-self: flex-start;
  margin-bottom: 4rem;
}
.right-middle {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 3.5rem;
  margin-left: -10.3rem;
}
.right-middle h4 {
  margin: 0.5rem 0;
}
.blue-color {
  color: var(--lightblue-color);
}
.release, .duration, .note {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  border: 1px solid var(--lightblue-color);
  box-shadow: 2px 2px 7px 1px var(--lightblue-color);
  border-radius: 8px;
}
.right-bottom h4 {
  color: var(--lightblue-color);
  margin-bottom: 0.5rem;
  margin-left: -10.3rem;
}
.right-bottom p {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  margin-bottom: 3rem;
  margin-left: -10.3rem;
  padding: 0.5rem 0.5rem 2rem 0.5rem;
  border: 1px solid var(--lightblue-color);
  box-shadow: 2px 2px 7px 1px var(--lightblue-color);
  border-radius: 10px;
}
.links {
  margin-left: -10.3rem;
}
.close-card {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 2rem;
  width: 40px;
  height: 40px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c0/Circular_arrow-red.svg");
  background-size: 100%;
}

@media screen and (min-width: 426px) {
  .main-container {
    padding: 2rem;
  }
  .movie-poster {
    width: 400px;
  }
  .right-container {
    width: 45vw;
  }
  .right-container h1 {
    font-size: 2em;
    margin: 0;
  }
  .right-top {
    font-size: 1.17em;
  }
  .right-top h3 {
    padding-right: 1rem;
  }
  .isFavorite {
    margin-bottom: 1.5rem;
  }
  .notFavorite {
    margin-bottom: 1.5rem;
  }
  .right-middle {
    margin-bottom: 1.5rem;
    margin-left: 0;
  }
  .right-bottom h4 {
    margin-left: 0;
  }
  .right-bottom p {
    margin-left: 0;
    margin-bottom: 2rem;
  }
  .links {
    margin-left: 0;
  }
  .close-card {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 0rem;
  }
}

@media screen and (min-width: 769px) {
  .movie-poster {
    width: auto;
  }
  .right-container {
    padding-left: 2rem;
  }
  .right-container h1 {
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .right-top h3 {
    padding-right: 2rem;
  }
  .isFavorite {
    margin-bottom: 3rem;
  }
  .notFavorite {
    margin-bottom: 3rem;
  }
  .right-middle {
    justify-content: flex-start;
    margin-bottom: 4rem;
  }
  .release, .duration, .note {
    margin-right: 1.5rem;
    padding: 0.5rem;
  }
  .right-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .close-card {
    margin-top: 5rem;
  }
}

@media screen and (min-width: 1025px) {
  .right-container {
    padding-left: 3rem;
  }
  .main-title {
    display: flex;
    flex-wrap: wrap;
    width: 39vw;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
  }
  .release, .duration, .note {
    margin-right: 2rem;
  }
}
@media screen and (min-width: 1441px) {
  .main-title {
    width: 55vw;
  }
  .right-container {
    font-size: 1.2rem;
  }
  .right-bottom {
    font-size: 1.2rem;
  }
  .main-container a {
    font-size: 1.2rem;
  }
  .close-card {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 3rem;
  }
}
