/* light & dark modes */

.light-mode {
  --navBar-color: #164059;
  --navBar-bg-color: #f2d3ac;
}

.dark-mode {
  --navBar-color: #f2d3ac;
  --navBar-bg-color: #164059;
}

/* navBar */

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3em;
  padding: 0.625em;
  color: var(--navBar-color);
  background: var(--navBar-bg-color);
}

.navBar-links {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 0;
  height: calc(100vh - 5em);
  padding: 0;
  top: 3.2em;
  left: 0;
  background: var(--navBar-bg-color);
  list-style: none;
  transition: all 0.8s ease-in-out;
  z-index: 4;
}

.show-nav .navBar-links {
  display: flex;
  width: 100%;
  height: 100pc;
  position: absolute;
  z-index: 4;
}

.navBar-link {
  padding: 0 0.625em;
}

.navBar-link a {
  display: block;
  opacity: 0;
  padding: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--navBar-color);
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.3s;
}

.show-nav .navBar-link a {
  opacity: 1;
}

.navBar-link a:hover {
  padding-left: 2rem;
  letter-spacing: 0.313em;
}

.navBar-logo img {
  display: flex;
  margin: auto;
  text-align: center;
  width: 100px;
}

/* Toggle menu */

.menuBurger {
  display: block;
  position: relative;
  padding: 0;
  width: 2.813em;
  height: 2.813em;
  border: none;
  background: transparent;
  cursor: pointer;
}

.bar {
  display: block;
  width: 2.813em;
  height: 0.25em;
  background: var(--navBar-color);
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}

.show-nav .bar {
  width: 0;
  background: transparent;
}

.bar::before,
.bar::after {
  content: "";
  width: 2.813em;
  height: 0.25em;
  position: absolute;
  left: 0;
  background: var(--navBar-color);
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}

.bar::before {
  transform: translateY(-0.75em);
}

.show-nav .bar::before {
  transform: rotate(45deg);
}

.bar::after {
  transform: translateY(0.75em);
}

.show-nav .bar::after {
  transform: rotate(-45deg);
}

.icon-menu {
  display: none;
}

.navSearchBar {
  display: flex;
  width: 100px;
  align-content: center;
  justify-content: center;
}

/* Medium devices */

@media screen and (min-width: 426px) {
  .navBar-links {
    display: flex;
    position: inherit;
    flex-direction: row;
    width: auto;
    height: auto;
    z-index: initial;
  }

  .navBar-link {
    padding: 0;
  }

  .navBar-link a {
    padding: 0.5rem 1rem;
    font-size: inherit;
    opacity: inherit;
    transition: none;
  }

  .navBar-link a:hover {
    padding-left: 0;
    padding: 0.5rem;
    letter-spacing: inherit;
  }

  .navBar-link > a::after {
    display: block;
    content: "";
    width: 0;
    height: 1px;
    background: var(--navBar-color);
    transition: width 0.4s;
  }

  .navBar-link:hover > a::after {
    width: 100%;
  }

  .menuBurger {
    display: none;
  }

  .icon-menu {
    display: initial;
    font-size: 1.4rem;
    margin: 0.5rem;
  }

  .string-menu {
    display: none;
  }

  .navBar-logo img {
    width: 200px;
  }
}

/* Large devices */

@media screen and (min-width: 769px) {
  .navBar {
    justify-content: space-between;
  }

  .string-menu {
    display: initial;
  }

  .icon-menu {
    padding-right: 0.5em;
    margin: 0;
  }

  .navBar-link a {
    font-size: 1.4rem;
    padding: 0.5rem;
  }

  .navSearchBar {
    width: 115px;
  }

}

@media screen and (min-width: 1025px) {
  .navBar {
    justify-content: flex-start;
    padding: 0.8em 1.5em;
  }

  .navBar-logo img {
    width: 150px;
  }
}

@media screen and (min-width: 1440px) {
  .navBar {
    padding: 0.8em 2em;
  }

  .navSearchBar {
    padding-left: 2.5em;
  }

  .navBar-logo img {
    width: 250px;
  }

  .navBar-link a {
    padding: 1rem, 1.4rem;
  }
}

@media screen and (min-width: 1800px) {
  .navBar {
    justify-content: space-around;
  }
  .navSearchBar {
    padding-right: 9em;
  }
}
