.member {
  text-align: center;
  color: var(--lightbeige-color);
  background: rgba(0, 0, 0, 0.8);
}

.member img {
  width: 250px;
  margin: 1.5rem;
  border-radius: 12px;
}

.member h2 {
  border-top: 15px solid rgba(0, 0, 0, 1);
  border-bottom: 15px solid rgba(0, 0, 0, 1);
}

.member h3 {
  margin-bottom: 0;
}

.first {
  width: 1.4em;
  margin-left: 45%;
  color: aliceblue;
  background-color: rgb(255, 215, 0);
  border: 2px solid rgb(255, 215, 0);
  border-radius: 50%;
}

.second {
  width: 1.4em;
  margin-left: 45%;
  color: aliceblue;
  background-color: rgb(134, 137, 146);
  border: 2px solid rgb(134, 137, 146);
  border-radius: 50%;
}

.third {
  width: 1.4em;
  margin-left: 45%;
  color: aliceblue;
  background-color: rgb(97, 78, 26);
  border: 2px solid rgb(97, 78, 26);
  border-radius: 50%;
}

.presentation h2 {
  margin-top: 0;
}

.presentation img {
  width: 10em;
  margin: 1rem 0;
  border-radius: 50%;
  border: 3px solid var(--blue-color);
}

.links p {
  margin-bottom: 0;
}

.links img {
  width: 70px;
}
/* Medium devices */

/* Large devices */
