.serie-main-container {
  display: flex;
  padding: 1rem;
  color: var(--beige-color);
  background-color: rgba(0, 0, 0, 0.9);
}
.serie-poster {
  width: 150px;
  height: fit-content;
  border-radius: 10px;
}
.serie-right-container {
  width: 55vw;
  padding-left: 1rem;
}
.serie-main-title h1 {
  margin-bottom: 0;
  font-size: 1.6rem;
}
.serie-title h2 {
  margin: 0;
  padding: 0;
}
.serie-right-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}
.serie-right-top h3 {
  margin-bottom: 0;
  padding-right: 0.5rem;
  color: var(--lightblue-color);
}
.serie-favorite {
  width: fit-content;
}
.serie-isFavorite {
  width: 40px;
  height: 40px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/35/Emoji_u2665.svg");
  background-size: 100%;
  align-self: flex-start;
  margin-bottom: 5rem;
  margin-top: 2.5rem;
}
.serie-notFavorite {
  width: 40px;
  height: 40px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/52/Heart_icon_red_hollow.svg");
  background-size: 100%;
  align-self: flex-start;
  margin-bottom: 5rem;
  margin-top: 2.5rem;
}
.serie-right-middle {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 3.5rem;
  margin-left: -10.3rem;
}
.serie-right-middle h4 {
  margin: 0.5rem 0;
}
.serie-blue-color {
  color: var(--lightblue-color);
}
.serie-release, .serie-duration, .serie-note {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  border: 1px solid var(--lightblue-color);
  box-shadow: 2px 2px 7px 1px var(--lightblue-color);
  border-radius: 8px;
}
.serie-navbar {
  align-items: center;
  margin-left: -11rem;
  padding-bottom: 2rem;
  list-style: none;
  background-color: transparent;
  color: #f2d3ac;
}
.serie-navbar li {
  text-align: center;
  margin-right: 2rem;
  margin-bottom: 0.8rem;
  padding: 0.5rem;
  color: var(--lightblue-color);
  border: 1px solid var(--lightblue-color);
  border-radius: 8px;
  cursor: pointer;
}
.serie-navbar li:hover {
  box-shadow: 2px 2px 7px 8px var(--lightblue-color);
}
.serie-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: none;
}
.serie-navbar h4 {
  margin: 0;
  padding: 0.3rem;
}
.serie-navbar img {
  width: 60px;
  height: 16px;
}
.serie-links-networks {
  background-color: var(--blue-color);
}
.showSyno {
  margin-left: -10.4rem;
}
.serie-tagline {
  padding-left: 0.3rem;
  color: var(--lightblue-color);
}
.serie-right-bottom p {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  margin-bottom: 3rem;
  padding: 0.5rem 0.5rem 2rem 0.5rem;
  border: 1px solid var(--lightblue-color);
  box-shadow: 2px 2px 7px 1px var(--lightblue-color);
  border-radius: 10px;
}
.showSaisons {
  margin-left: -10.4rem;
  text-align: center;
  border: 1px solid var(--lightblue-color);
  box-shadow: 2px 2px 7px 1px var(--lightblue-color);
  border-radius: 10px;
}
.showSaisons h4 {
  padding-right: 0.3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.serie-blue-color > span {
  color: var(--red-color);
}
.serie-total-saison, .serie-saison-number, .serie-episode-count {
  display: flex;
  justify-content: center;
}
.serie-saison-poster {
  width: 150px;
  border-radius: 10px;
}
.noSyno, .noSaisons, .noSug {
  display: none;
}
.serie-close-container {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.serie-close-card {
  width: 40px;
  height: 40px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c0/Circular_arrow-red.svg");
  background-size: 100%;
}

@media screen and (min-width: 426px) {
  .serie-main-container {
    padding: 2rem;
  }
  .serie-poster {
    width: 400px;
  }
  .serie-right-container {
    width: 45vw;
  }
  .serie-main-title h1 {
    font-size: 2em;
  }
  .serie-right-top {
    font-size: 1.17em;
  }
  .serie-right-top h3 {
    padding-right: 1rem;
  }
  .serie-isFavorite {
    margin-bottom: 2.5rem;
  }
  .serie-notFavorite {
    margin-bottom: 2.5rem;
  }
  .serie-right-middle {
    justify-content: space-between;
    margin-bottom: 1.5rem;
    margin-left: 0;
  }
  .serie-navbar {
    margin-left: 0;
  }
  .serie-navbar li {
    margin-right: 0;
    margin-left: -2.5rem;
  }
  .serie-right-bottom h4 {
    margin-left: 0;
  }
  .showSyno {
    margin-top: 3rem;
    margin-left: -26rem;
  }
  .serie-right-bottom p {
    margin-left: 0;
    margin-bottom: 2rem;
  }
  .showSaisons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3rem;
    margin-left: -26rem;
  }
  .serie-total-saison-container {
    display: flex;
    flex-direction: row;
    width: 91vw;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
  .serie-season {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .serie-saison-number {
    width: fit-content;
    height: fit-content;
    font-size: 1.1rem;
  }
  .serie-episode-count {
    width: fit-content;
    height: fit-content;
    font-size: 1.1rem;
  }
  .serie-saison-poster {
    width: 220px;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 769px) {
  .serie-poster {
    width: auto;
  }
  .serie-right-container {
    padding-left: 2rem;
  }
  .serie-right-container h1 {
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .serie-right-top h3 {
    padding-right: 2rem;
  }
  .isFavorite {
    margin-bottom: 3rem;
  }
  .notFavorite {
    margin-bottom: 3rem;
  }
  .serie-right-middle {
    justify-content: space-between;
    margin-bottom: 4rem;
  }
  .serie-release, .serie-duration, .serie-note {
    padding: 0.5rem;
  }
  .serie-navbar li {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
  }
  .showSyno {
    margin-top: 4rem;
    margin-left: -33.2rem;
  }
  .showSaisons {
    margin-top: 4rem;
    margin-left: -33.2rem;
  }
  .serie-navbar img {
    width: 90px;
    height: 24px;
  }
  .serie-close-card {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1025px) {
  .serie-right-container {
    padding-left: 3rem;
  }
  .serie-main-title {
    display: flex;
    flex-wrap: wrap;
    width: 39vw;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1441px) {
  .serie-main-title {
    width: 55vw;
  }
  .serie-right-container {
    font-size: 1.4rem;
  }
  .serie-right-middle {
    justify-content: space-around;
  }
  .serie-navbar {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 0.5rem;
  }
   .serie-navbar li {
    width: 10vw;
    margin: 0.5rem;
    font-size: 1.4rem;
  }
  .serie-links {
    width: 55vw;
    justify-content: center;
  }
  .serie-navbar img {
    width: 120px;
    height: 32px;
  }
  .showSyno {
    margin-left: 0;
  }
  .showSaisons {
    margin-left: 0;
  }
}
