body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--font-size);
  font-family: 'Raleway', 'Montserrat', sans-serif;
  background-image: url('./assets/img/spotlight.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

:root {
  --font-size: 1rem;
  --red-color: #bf0404;
  --lightblue-color: #4bc3f2;
  --blue-color: #164059;
  --lightbeige-color: #f2d3ac;
  --beige-color: #bf9663;
  --grey-color: #b4bcc5;
}
