body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size:var(--font-size);
  font-family: 'Raleway', 'Montserrat', sans-serif;
}

:root {
  --font-size: 1rem;
  --red-color: #BF0404;
  --lightblue-color: #4BC3F2;
  --blue-color: #164059;
  --lightbeige-color: #F2D3AC;
  --beige-color: #BF9663;
}
